*{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
.container{
    height: 73vh;
    width: 22vw;
    align-self: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 2px 2px 1px 1px hsl(220, 15%, 60%);
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding: 0;
    transform: translateY(50px);
}
p{
    margin: 11px;
    padding: 0 15px;
    background-color: inherit;
    font-size: 19px;
    text-align: center;
    transform: translateY(-18px);
}
.title{
    font-weight: 1000;
    font-size: 25px;
    order: 3;
}
.text{
    order: 5;
}
img{
    transform: scale(0.9) translateY(-10px);
    margin: 0;
    order: 1;
    border-radius: 5%;}