*{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: grid;
    grid-template-rows: 85% 15%;
}
.container{
    width: 25vw;
    display: grid;
    grid-template-rows: 200px 200px repeat(2, 1fr);
    grid-template-columns: 400px;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    justify-self: center;
    grid-row: 1 / 2;
    background-color: #fff;
    border-radius: 5%;
    box-shadow: 1px 1px 1px 1px #0002;
}
.text1{
    justify-self: center;
    grid-row: 3 / span 1;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    margin: 0;
    translate: 0 -10px;
}
.text2{
    translate: 0 -15px;
    justify-self: center;
    grid-row: 4 / span 1;
    padding: 0 10px;
    font-size: 90%;
    text-align: center;
}
img{
    margin: 0;
    grid-row: 1 / span 2;
    transform: scale(0.63) ;
    translate: 0 -93px;
    border-radius: 5%;
}
.atribution{
    grid-row: 2 / 3;
}